.App {
  min-height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;

  background-color: #00334E;
}

.main-header {
  margin-top: 12px;
  margin-bottom: 12px;

  text-align: center;

  color: #EF4135;
}

.dashboard {
  width: 90%;

  margin: 0px auto 16px auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;

  background-color: #FEFEFE
}

.logout {
  margin-bottom: 16px;
  position: relative;
  color: #949494;
}

@media (min-width:961px)  {
 .dashboard {
   width: 500px;
 }
}
