.urls .url-list .url {
  height: 40px;
  background-color: #f5f5f5;

  display: flex;
  align-items: center;

  position: relative;

  overflow: hidden;

  font-family: 'Roboto';
  font-size: 16px;
}

.urls .url-list .url:nth-child(odd) {
  background-color: #FEFEFE;
}

.urls .url-list .url p {
  margin: 0;

  position: absolute;
  left: 16px;
}

.urls .url-list .url .fade {
  height: 100%;
  width: 90px;

  position: absolute;
  right: 0;

  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FEFEFE 30%);
}

.urls .url-list .url:nth-child(even) .fade {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f5f5f5 30%);
}

.urls .url-list .url button {
  height: 26px;
  width: 26px;

  border: none;
  border-radius: 999px;

  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  background-color: #EF4135;
}
